html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-x: hidden;
}

code {
  font-family: 'Kanit', sans-serif;
}

html {
  overflow-y: scroll;
}