.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* custom global */

@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Extra Light */
@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


/* Light */
@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* SemiBold Italic */
@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'Kanit';
  src: url('../assets/font/Kanit-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}



div:focus {
  outline: none;
}

a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
}